.QLabel{
    color: blue;
    font-size: 40px;
}

.QLineEdit{
    color: blue;
    font-size: 40px;
}

.QPushButton:hover{
    background: green;
    border: 3px;
    border-radius: 20px;
    font-size: 37;
}

.QPushButton{
    background: greenyellow;
    border: 3px;
    border-radius: 20px;
    font-size: 40px;
}

.QWidget{
    background-color: bisque;
}
