QWidget{
    background: rgb(255, 136, 0);
}
.QLabel{
    font-size: 20px;
    border-radius: 15px;
}
.QPushButton{
    font-size: 20px;
    background: rgb(0, 110, 255);
    border-radius: 15px;
}
.QPushButton:hover{
    background: rgb(255, 0, 85);
    font-size: 20px;

}
.QLineEdit{
    border-radius: 15px;
    background: rgb(255, 255, 255);
}
#int:hover{
    background: rgb(102, 255, 0);
}